<div class="main-content">


    <h1 class="h1"> <a asp-controller="Users" asp-action="Index">Useri</a>  -- Grupuri -- <a asp-controller="Categories" asp-action="Index">Categorii</a></h1>
    <hr />

<div class="container" style="margin-top:10px;">
    <div class="row">
        @foreach (var grup in ViewBag.ToateGrupurile)
        {
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-white bg-dark h-100 d-flex flex-column">
                    <div class="card-body">
                        <img src="@grup.ImageRPath" class="poza-grup mb-3" />
                        <p><i class="bi bi-pencil"></i> Nume: @grup.Name</p>
                        <p><i class="bi bi-book"></i> Descriere: @grup.Description</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <a asp-controller="Groups" asp-action="Show" asp-route-id="@grup.Id" class="btn btn-sm btn-succes">Afiseaza grup</a>
                        <form asp-controller="Groups" asp-action="Delete" asp-route-id="@grup.Id" method="post">
                            <button class="btn btn-sm btn-danger">Sterge Grup</button>
                        </form>
                        </div>
                </div>
            </div>
        }
    </div>
</div>
</div>