@using Microsoft.AspNetCore.Mvc.ModelBinding.Metadata
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model DiscordClone.Models.Channel


<div id="fog"></div>



<div id="popOutStergere" style="display: none">
    <partial name="AreYouSure"></partial>
</div>


<div class="main-content">
    @if (ViewBag.Alerta != null)
    {
        <div id="alerta" class="alerta">
            <p id="alerta-mesaj">@ViewBag.Alerta</p>
            <button id="alerta-buton" class="icon" onclick="inchide()">x</button>
        </div>

    }
    <div class="header-channel">
        <h4>@Model.Name</h4>
        <div class="icon-profil">
            @if (ViewBag.UserCurrent == ViewBag.OwnerId)
            {
                <a id="sterge" class="icon" style="cursor:pointer;"><i class="bi bi-trash"></i></a>
            }

            <a asp-controller="Groups" asp-action="Edit" asp-route-id="@Model.GroupId" class="icon"><i class="bi bi-gear"></i></a>
        </div>
    </div>


    <div class="messages">
        @foreach (var mes in ViewBag.Messages)
        {
            <div class="info-grup">
                @* N-avem useri deci aici fa fi o poza random *@
                <img src="@mes.ProfilePicture" class="poza-grup"></img>
                <div class="detalii-grup">
                    @if (mes.UserId == "2ff8c808-69c7-4a2e-8271-d45ebad878df")
                    {
                        <p style="color:@mes.Color" class="nume-grup">[DELETED]</p>
                    }
                    else if (mes.WasEdited != true && mes.Color != "gray")
                    {
                        <p style="color:@mes.Color" class="nume-grup">@mes.UserName</p>
                    }
                    else if (mes.WasEdited == true && mes.Color != "gray")
                    {
                        <p style="color:@mes.Color" class="nume-grup">@mes.UserName (Edited)</p>
                    }
                    else if (mes.WasEdited != true && mes.Color == "gray")
                    {
                        <p style="color: @mes.Color" class="nume-grup">@mes.UserName (Left) </p>
                    }
                    else
                    {
                        <p style="color: @mes.Color" class="nume-grup">@mes.UserName (Edited) (Left) </p>
                    }
                    @if (mes.Content != "<<empty>>")
                    {
                        <div class="container-mesaje">
                            @if (mes.Content.StartsWith("https://www.youtube.com"))
                            {
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item poza-colectie" height="1000" width="1000" src="@mes.Content" allowfullscreen></iframe>
                                </div>
                            }
                            else
                            {
                                <p class="descriere-grup">
                                    @mes.Content
                                </p>
                            }
                            @if (mes.UserId == ViewBag.UserCurrent)
                            {
                                <div class="editare-inline" id="e @mes.Id">
                                    <form method="post" asp-action="Edit" asp-controller="Messages" asp-route-id="@mes.Id">
                                        <input type="hidden" name="Id" value="@mes.Id"/>
                                        <input type="hidden" name="MessageChannelId" value="@Model.Id"/>
                                        <input type="text" name="Content" value="@mes.Content" class="edit-mesaj"/>
                                        <button type="submit" class="buton-salvare" onClick="buton_cancel(@mes.Id)">Salveaza</button>
                                        <button type="button" class="buton-anulare" onClick="buton_cancel(@mes.Id)">Anuleaza</button>
                                    </form>
                                </div>

                                <div class="butoane">
                                    <form method="post" asp-action="Delete" asp-controller="Messages" asp-route-id="@mes.Id">
                                        <button class="icon" type="submit"><i class="bi bi-trash"></i></button>
                                    </form>

                                    <button class="icon" onClick="afisare_inline(@mes.Id)"><i class="bi bi-pencil"></i></button>
                                </div>
                            }
                            else if (ViewBag.UserCurrentRole == "Moderator")
                            {
                                <div class="butoane">
                                    <form method="post" asp-action="Delete" asp-controller="Messages" asp-route-id="@mes.Id">
                                        <button class="icon" type="submit"><i class="bi bi-trash"></i></button>
                                    </form>
                                </div>
                            }
                        </div>

                    }
                    @if (mes.FileRPath != null)
                    {

                        //BTW, Partea de VIDEO si AUDIO nu am testat-o, nu stiu daca merg, cum merg, etc. 
                        // Ca idee, clasa "poza-colectie" doar seteaza o lungime si latime maxima, atat
                        // Daca nu merge, poti sa incerci sa faci ceva genul: https://getbootstrap.com/docs/4.0/utilities/embed/
                        // Cu bootstrap  cel mai probabil o sa mearga ( si probabil va arata si mai bine)

                        <div class="info-grup">
                            <div class="detalii-grup">
                                @if (mes.FileRPath.EndsWith(".jpg") || mes.FileRPath.ToLower().EndsWith(".png") || mes.FileRPath.ToLower().EndsWith(".jpeg"))
                                {
                                    @if (mes.UserId == ViewBag.UserCurrent || ViewBag.UserCurrentRole == "Moderator")
                                    {
                                        <div style="display: flex;">
                                            <img src=@mes.FileRPath class="poza-colectie" id=@mes.Id onClick="poza_mare('@mes.Id', '@mes.FileRPath')"/>
                                            <div class="butoane">
                                                <form method="post" asp-action="DeleteFile" asp-controller="Messages" asp-route-id="@mes.Id">
                                                    <button class="icon" type="submit"><i class="bi bi-file-earmark-x"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <img src=@mes.FileRPath class="poza-colectie" id=@mes.Id onClick="poza_mare('@mes.Id', '@mes.FileRPath')"/>
                                    }


                                }
                                else if (mes.FileRPath.EndsWith(".mp4") || mes.FileRPath.EndsWith(".mov") || mes.FileRPath.EndsWith(".mkv"))
                                {
                                    @if (mes.UserId == ViewBag.UserCurrent || ViewBag.UserCurrentRole == "Moderator")
                                    {
                                        <div style="display: flex;">
                                            <video controls class="poza-colectie">
                                                <source src="@mes.FileRPath" type="video/mp4"/>
                                            </video>
                                            <div class="butoane">
                                                <form method="post" asp-action="DeleteFile" asp-controller="Messages" asp-route-id="@mes.Id">
                                                    <button class="icon" type="submit"><i class="bi bi-file-earmark-x"></i></button>
                                                </form>
                                            </div>
                                        </div>

                                    }
                                    else
                                    {

                                        <video controls class="poza-colectie">
                                            <source src="@mes.FileRPath" type="video/mp4"/>
                                        </video>


                                    }
                                }
                                else if (mes.FileRPath.EndsWith(".mp3"))
                                {
                                    @if (mes.UserId == ViewBag.UserCurrent || ViewBag.UserCurrentRole == "Moderator")
                                    {
                                        <div style="display: flex;">
                                            <audio controls class="poza-colectie">
                                                <source src="@mes.FileRPath" type="audio/mp3"/>
                                            </audio>
                                            <div class="butoane">
                                                <form method="post" asp-action="DeleteFile" asp-controller="Messages" asp-route-id="@mes.Id">
                                                    <button class="icon" type="submit"><i class="bi bi-file-earmark-x"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <audio controls class="poza-colectie">
                                            <source src="@mes.FileRPath" type="audio/mp3"/>
                                        </audio>
                                    }
                                }
                            </div>
                        </div>
                    }
                </div>
                @if (mes.WasEdited == true)
                {
                    <p class="time-stamp">@mes.EditTimeStamp</p>
                }
                else
                {
                    <p class="time-stamp">@mes.TimeStamp</p>
                }
                
            </div>

        }
    </div>
    
    @foreach (var member in ViewBag.Members)
    {
        <div id="kick @member.UserId" class="are-you-sure-modal" style="display: none; z-index: 1000;">
            <h1>Esti pe cale sa dai kick unui utilizator</h1>
            <p> Apasand butonul de mai jos, vei da afara un utilizator. Esti sigur ca vrei sa faci asta?</p>
            <form asp-controller="Channels" asp-action="Kick" method="post">
                <input type="hidden" value="@Model.GroupId" name="GroupId"/>
                <input type="hidden" value="@Model.Id" name="ChannelId"/>
                <input type="hidden" value="@member.UserId" name="UserId"/>
                <div class="footer">
                    <button type="submit" class="create">
                        Da
                    </button>
                </div>
            </form>
        </div>
    }

    <div class="footer-mesaje">
        <div id="progress-bar">
            <div>
                <p id="procentaj-upload"></p></div>
        </div>
        <div>
            <form enctype="multipart/form-data" method="post" asp-controller="Channels" asp-action="Show" class="formular">
                <input type="hidden" name="MessageChannelId" value="@Model.Id"/>
                <input type="hidden" name="GroupId" value="@Model.GroupId"/>

                <input type="text" class="message-bar" placeholder="scrie un mesaj" id="textInput" name="Content"/>
                @* <span asp-validation-for="Content" class="text-danger"></span> *@
                @* <label name="FileRPath" class="sidebar-icon mini">+</label> *@
                <input type="file" id="fileInput" name="FileRPath" style="display: none;"/>
                <label for="fileInput" class="incarcare-fisier"><i class="bi bi-upload"></i></label>
                <button class="btn btn-success" type="submit">Send</button>
            </form>
        </div>

    </div>
</div>

<div class="members-bar ">
    @foreach (var member in ViewBag.Members)
    {

        if (member.Culoare != "gray")
        {
             <div class="member">
            <img src=@member.ProfilePicture class="poza-grup"/>
            <p style="color:@member.Culoare"class="nume-grup">@member.UserName </p>
            @if(ViewBag.UserCurrentRole=="Moderator"&&member.UserId!=ViewBag.UserCurrent&&member.UserId!=ViewBag.OwnerId)
            {
                <div class="icon-profil">
                    @if (member.Role != "Moderator")
                    {
                        <form asp-controller="Channels" asp-action="Promote" method="post">
                            <input type="hidden" value="@member.UserId" name="UserId"/>
                            <input type="hidden" value="@Model.GroupId" name="GroupId"/>
                            <input type="hidden" value="@Model.Id" name="ChannelId"/>
                            <button type="submit" class="icon">
                                <i class="bi bi-arrow-up-circle"></i>
                            </button>
                        </form>
                        
                        <button  class="icon" onClick="kick_membru('@member.UserId')">
                            <i class="bi bi-x-circle"></i>
                        </button>
                        
                      
                   
                        
                       
                        
                        
                    }
                    else
                    {
                        <form asp-controller="Channels" asp-action="Demote" method="post">
                            <input type="hidden" value="@Model.GroupId" name="GroupId"/>
                            <input type="hidden" value="@Model.Id" name="ChannelId"/>
                            <input type="hidden" value="@member.UserId" name="UserId"/>
                            <button type="submit" class="icon">
                                <i class="bi bi-arrow-down-circle"></i>
                            </button>
                        </form>

                    }
                   
                       

                    

                </div>
            }
                @if (member.UserId == ViewBag.UserCurrent)
                {
                    <button id="leave-button" type="submit" style="z-index: 0;" class="icon">
                        <i class="bi bi-box-arrow-left"></i>
                    </button>

                    <div id="leave" class="are-you-sure-modal" style="display: none;">
                        <h1>Esti pe cale sa iesi din grup</h1>
                        <p> Apasand butonul de mai jos, vei iesi din grup. Esti sigur ca vrei sa faci asta?</p>
                        <form asp-controller="Channels" asp-action="Kick" method="post">
                            <input type="hidden" value="@Model.GroupId" name="GroupId"/>
                            <input type="hidden" value="@Model.Id" name="ChannelId"/>
                            <input type="hidden" value="@member.UserId" name="UserId"/>
                            <div class="footer">
                                <button type="submit" class="create">
                                    Da
                                </button>
                            </div>
                        </form>
                    </div>
                }

           
            

        </div>
        }
       
    }

</div>
