@model DiscordClone.Models.Channel


<div id="fog"></div>

<div id="popOutStergere" style="display: none">
    <partial name="AreYouSure"></partial>
</div>


<div class="main-content">
    <div class="header-channel">
        <h4>@Model.Name</h4>
        <div class="icon-profil">
            <a id="sterge" class="icon" style="cursor:pointer;" ><i class="bi bi-trash"></i></a>
            <a asp-controller="Groups" asp-action="Edit" asp-route-id="@Model.GroupId" class="icon"><i class="bi bi-gear"></i></a>
        </div>
    </div>


    <div class="messages">
        @foreach( var mes in Model.Messages )
        { 
                    <div class="info-grup">
                        @* N-avem useri deci aici fa fi o poza random *@
                        <img src="@mes.User.ProfilePicture" class="poza-grup"></img>
                        <div class="detalii-grup">
                            <p class="nume-grup">@mes.User.UserName</p>
                            @if (mes.Content != "<<empty>>")
                            {
                                <div class="container-mesaje">
                                    <p class="descriere-grup">
                                        @mes.Content
                                    </p>
                                   
                                    <div class="editare-inline" id="e @mes.Id">
                                        <form method="post" asp-action="Edit" asp-controller="Messages" asp-route-id="@mes.Id">
                                            <input type="hidden" name="Id" value="@mes.Id" />
                                            <input type="hidden" name="ChannelId" value="@Model.Id" />
                                            <input type="text" name="Content" value="@mes.Content" class="edit-mesaj" />
                                            <button type="submit" class="buton-salvare" onClick="buton_cancel(@mes.Id)">Salveaza</button>
                                            <button type="button" class="buton-anulare" onClick="buton_cancel(@mes.Id)">Anuleaza</button>
                                        </form>
                                    </div>
                                    
                                    <div class="butoane">
                                        <form method="post" asp-action="Delete" asp-controller="Messages" asp-route-id="@mes.Id">
                                            <button class="btn-danger " type="submit"><i class="bi bi-trash"></i></button>
                                        </form>

                                        <button class="btn-success btn" onClick="afisare_inline(@mes.Id)"><i class="bi bi-pencil">Edit</i></button>
                                    </div>
                                </div>
                            }                           
                            @if (mes.FileRPath != null)
                            {
                                
                                //BTW, Partea de VIDEO si AUDIO nu am testat-o, nu stiu daca merg, cum merg, etc. 
                                // Ca idee, clasa "poza-colectie" doar seteaza o lungime si latime maxima, atat
                                // Daca nu merge, poti sa incerci sa faci ceva genul: https://getbootstrap.com/docs/4.0/utilities/embed/
                                // Cu bootstrap  cel mai probabil o sa mearga ( si probabil va arata si mai bine)

                                <div class="info-grup">
                                    <div class="detalii-grup">
                                    @if (mes.FileRPath.EndsWith(".jpg") || mes.FileRPath.ToLower().EndsWith(".png") || mes.FileRPath.ToLower().EndsWith(".jpeg"))
                                            {
                                                <img src=@mes.FileRPath class="poza-colectie" id=@mes.Id onClick="poza_mare('@mes.Id', '@mes.FileRPath')"/>
                                            }
                                    else if (mes.FileRPath.EndsWith(".mp4") || mes.FileRPath.EndsWith(".mov")|| mes.FileRPath.EndsWith(".mkv"))
                                            {
                                                <video controls class="poza-colectie">
                                                    <source src="@mes.FileRPath" type="video/mp4" />
                                                </video> 
                                            }
                                    else if (mes.FileRPath.EndsWith(".mp3"))
                                            {
                                                <audio controls class="poza-colectie">
                                                    <source src="@mes.FileRPath" type="audio/mp3" />
                                                </audio>
                                            }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
        
        }
    </div>

    <div class="footer-mes">
        <form enctype="multipart/form-data" method="post" asp-controller="Channels" asp-action="Show" class="formular">
            <input type="hidden" name="ChannelId" value="@Model.Id" />
            <input type="hidden" name="GroupId" value="@Model.GroupId" />

            <input type="text" class="message-bar" placeholder="scrie un mesaj" id="textInput" name="Content"/>
            @* <span asp-validation-for="Content" class="text-danger"></span> *@
            @* <label name="FileRPath" class="sidebar-icon mini">+</label> *@
            <input type="file" id="fileInput" name="FileRPath" style="display: none;" />
            <label for="fileInput" class="incarcare-fisier"><i class="bi bi-upload"></i></label>
            <button class="btn btn-success" type="submit">Send</button>
        </form>
    </div>
</div>

<div class="members-bar">
    @foreach (var member in ViewBag.Members)
    {
        
        
            <div class="member">
                <img src=@member.ProfilePicture class="poza-grup"></img>
                <p class="nume-grup">@member.UserName </p>
                <div class="icon-profil">
                <a class="icon">
                    <i class="bi bi-plus-circle"></i>
                </a>
                </div>
            </div>
    }
   
</div>
