<div class="main-content">
    <h1>Notificarile tale</h1>
    <hr />

    @if (ViewBag.Alerta != null)
    {
        <div id="alerta" class="alerta">
            <p id="alerta-mesaj">@ViewBag.Alerta</p>
            <button id="alerta-buton" class="icon" onclick="inchide()">x</button>
        </div>

    }
    
    <div class="lista-grupuri container-overflow">
        @foreach (var Notification in ViewBag.Notifications)
        {
            <div class="test">
                <img src="~/images/intrebare.png" class="poza-grup"></img>
                <p class="nume-grup">@Notification.content</p>
                @if (Notification.type == "Cerere intrare in grup")
                {
                    <div class="icon-profil">
                        <form method="post" asp-controller="Notifications" asp-action="Delete" asp-route-id="@Notification.Id">
                            <button type="submit" class="icon btn-danger">Decline</button>
                        </form>
                        <form method="post" asp-controller="Notifications" asp-action="Accept" asp-route-id="@Notification.Id">
                            <button type="submit" class="icon btn-success">Accept</button>
                        </form>
                        
                    </div>
                }
                else{
                    <form method="post" asp-controller="Notifications" asp-action="Delete" asp-route-id="@Notification.Id">
                        <button type="submit" class="icon-profil btn-success"> ok! </button>
                    </form>
                  
                }
                
                <hr/>
            </div>
        }
    </div>
</div>
