
<div class="main-content">
    <form method="get">
        <div class="header">
            <input type="text" placeholder="Cauta un Grup" class="search-bar" name="search" value="@ViewBag.SearchString" />
            <button class="btn btn-outline-dark" type="submit">Cauta</button>
        </div>
    </form>

    <div class="lista-grupuri">
        <h2>Toate grupurile in care nu ai fost invitat</h2>

        
        @foreach (var group in ViewBag.Groups2)
        {
            <a asp-controller="Groups" asp-action="Show" asp-route-id="@group.Id">
                <div class="grup">
                    <div class="info-grup">
                        <img src=@group.ImageRPath class="poza-grup"></img>
                        <div class="detalii-grup">
                            <p class="nume-grup">@group.Name</p>
                            <p class="descriere-grup">
                                @group.Description
                            </p>
                        </div>
                        @* <a asp-controller="Groups" asp-action="Edit" asp-route-id="@group.Id" > <button class="btn-success">[TEMPORARY] Edit @group.Name</button></a> *@
                        @* <form method="post" asp-controller="Groups" asp-action="Delete" asp-route-id="@group.Id"> *@
                        @*     <button class="btn-danger" type="submit">[TEMPORARY] Delete @group.Name</button> *@
                        @* </form> *@
                    </div>
                </div>
            </a>
            <hr />
        }
       
     </div>
</div>