
@{
    ViewBag.Title = "Lista categorii";
}


<div class="main-content">

    <h1 class="h1"> <a asp-controller="Users" asp-action="Index">Useri</a>  -- <a asp-controller="AdminGroups" asp-action="Index">Grupuri</a> -- Categorii</h1>
    <hr />
    <h2>@ViewBag.Title</h2>
    <br/>

    @if (TempData.ContainsKey("message"))
    {
        <h1>@ViewBag.message</h1>
    }


    @foreach (DiscordClone.Models.Category category in ViewBag.Categories)
    {   
        <div class="col-md-6 col-lg-4 mb-4">
            <div>
                <label asp-for="@category.Name" class="form-label">Denumire categorie</label>
                <div><i class="bi bi-globe"></i> @category.Name</div>
            </div>
            <br/>
            <a  asp-controller="Categories" asp-action="Edit" asp-route-id="@category.Id"><button class="create">Editare categorie</button></a>
            <form method="post" asp-controller="Categories" asp-action="Delete" asp-route-id="@category.Id">
                <button type="submit">Delete</button>
            </form>

            <br/>
            <br/>
        </div>

    }
    <br/>
    <a asp-controller="Categories" asp-action="New"><button  class="create">Adauga o noua categorie</button></a>
    <br/>

</div>