@{
    ViewBag.Title = "Lista categorii";
}


<div class="main-content">

    <h1 class="h1"> <a asp-controller="Users" asp-action="Index">Useri</a>  -- <a asp-controller="AdminGroups" asp-action="Index">Grupuri</a> -- Categorii</h1>
    <hr />
    <h2>@ViewBag.Title</h2>
    <br/>

    @if (TempData.ContainsKey("message"))
    {
        <h1>@ViewBag.message</h1>
    }


    @foreach (DiscordClone.Models.Category category in ViewBag.Categories)
    {   
        <div class="col-md-6 col-lg-4 mb-4" style="margin-left:10px;">
            <div class="card text-white bg-dark h-100 d-flex flex-column">
                <div class="card-body">
                    <div>
                        <label asp-for="@category.Name" class="form-label">Denumire categorie</label>
                        <div><i class="bi bi-globe"></i> @category.Name</div>
                    </div>
                </div>
                <br/>
                <div class="card-footer d-flex justify-content-between">
                    <a asp-controller="Categories" asp-action="Edit" asp-route-id="@category.Id"><button class="btn btn-success create">Editare categorie</button></a>
                    <form method="post" asp-controller="Categories" asp-action="Delete" asp-route-id="@category.Id">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </div>
                <br/>
                <br/>
            </div>
        </div>

    }
    <br/>
    <a asp-controller="Categories" asp-action="New"><button  class="btn btn-success create">Adauga o noua categorie</button></a>
    <br/>

</div>